body {
    background-color: #081f37; 
    color: #ffffff; 
    font-family: 'Arial', sans-serif; 
    margin: 0; 
    padding: 0; 
}

header {
    position: fixed; 
    top: 0; 
    width: 100%; 
    z-index: 1000; 
}

.fornav {
    height: 60px; 
    background-color: #2e79ba; 
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.fornav ul {
    list-style: none;
    padding: 0;
    margin: 0; 
}

.fornav ul li {
    display: inline;
}

.fornav ul li a {
    color: #282c34; 
    text-decoration: none;
    font-weight: 600;
}

.fornav a {
    position: relative;
    cursor: pointer;
    color: #282c34; 
    font-size: 20px;
    padding: 0.5rem 1rem;
    transition: color 0.25s;
}

.fornav a::after {
    position: absolute;
    content: "";
    inset: 0;
    background: rgb(78, 159, 210);
    scale: 1 0;
    z-index: -1;
    transition: 0.45s;
    border-radius: 10px;
}

.fornav a:hover {
    color: #5fc9f3; 
}

.fornav a:hover::after,
nav ul li .active {
    scale: 1 1;
    color: rgb(246, 255, 0);
}

#home{
    display:flex;
    align-items:center;
    height:100vh;
    padding:60px 9% 0;
    color:white;
}
.home-info h1{
    font-size:55px;
    width: 473px;
        overflow: hidden;
        white-space: nowrap;
        border-right: 2px solid #7E2EA0;
        animation: typing 2s steps(12, end), cursor .2s steps(12, end) infinite;
    }
    @keyframes typing {
        from { width: 0 }
    }
    @keyframes cursor {
        50% { border-color: transparent }
}
.home-info h2{
    font-size: 32px;
    margin-top: -10px;
}
.home-info p{
    font-size: 16px;
    margin:10px 0 
}

.home-info .btn-sci {
    display:flex;
    align-items:center;

}
.btn{
    display: inline-block;
    padding: 10px 30px;
    text-decoration: none;
    background:#61dafb;
    border: 2px solid;
    border-radius: 40px;
    box-shadow: 0 0 10px;
    font-size:16px;
    color:rgb(27, 26, 26);
    font-weight:600;
    transition:.5s;


}
.btn:hover{
    background:transparent;
    color:cyan;
    box-shadow:none;
    
}

.home-info .btn-sci .sci{
    margin:20px;
}

.home-info .btn-sci .sci a{
    display:inline-flex;
    padding: 8px;
    border: 2px solid cyan;
    border-radius: 50%;
    color:cyan;
    text-decoration:none;
    margin: 0 8px;
    transition: .5s;
}
.home-info .btn-sci .sci a:hover{
    background:cyan;
    color:black;
    box-shadow: 0 0 10px;

}
.home-img .img-box{
    position: relative;
    width:32vw;
    height:32vw;
    border-radius:50%;
    padding:5px;
    display: flex;
    justify-content:center;
    align-items:center;
    overflow:hidden;
}
.home-img .img-box::before,
.home-img .img-box::after{
    content:'';
    position:absolute;
    width:500px;
    height:500px;
    background: conic-gradient(transparent, transparent, transparent, cyan );

}
.home-img .img-box .img-item{
    position:relative;
    width: 100%;
    height: 100%;
    background:#081f37;
    border-radius: 50%;
    border: .1px, solid #081f37;
    display:flex;
    justify-content: center;
    z-index: 1;
    overflow:hidden;
}
.home-img .img-box .img-item img{
    top:30px;
    position: absolute;
    display:block;
    width:85%;
    object-fit:cover;
    mix-blend-mode: lighten;

}

main {
    text-align: center; 
    padding: 100px 20px; 
}


.profile-container {
    background-color: #081f37; 
    border-radius: 15px; 
    padding: 20px; 
    max-width: 600px; 
    margin: 20px auto; 
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3); 
}

.profile-image {
    width: 150px; 
    height: 150px; 
    border-radius: 50%; 
    object-fit: cover; 
    margin-bottom: 20px; 
}
.Name{
    color: #5fc9f3;
}
#projects{
    display:flex;
    align-items:center;
    justify-content: center;
    min-height:100vh;
    background: linear-gradient(#081f37, #CED6FB);
}
.card-wrapper{
    max-width: 1100px;
    margin: 0 60px 35px;
    padding: 20px 10px;
    overflow: hidden;
}
.card-list .card-item{
    list-style: none;
}
.card-list .card-item .card-link{
    user-select: none;
    display:block;
    background:white;
    padding: 18px;
    border-radius: 12px;
    text-decoration: none;
    border: 2px solid transparent;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.05);
    transition: 0.2s ease;

}
.card-list .card-item .card-link:active{
    cursor: grabbing;
}
.card-list .card-item .card-link:hover{
    border-color: #5372F0

}
.card-list .card-link .card-image{
    width:100%;
    aspect-ratio: 16 /9;
    object-fit: cover;
    border-radius: 10px;
}
.card-list .card-link .badge{
color: #5372F0;
padding: 8px 16px;
font-size: 0.95 rem;
font-weight: 500;
margin: 16px 0 18px;
bacKground: #DDE4FF;
width: fit-content;
border-radius: 50px;
}
.card-list .card-link .badge.designer{
    color: palevioletred;
    background: #F7DFF5;
}


.card-list .card-link .badge.marketer{
    color:#B25A2B ;
    background:#FFE3D2;
}
.card-list .card-link .badge.gamer{
    color: #205C20 ;
    background:#D6F8D6;
}
.card-list .card-link .badge.editor{
    color: #856404;
    background:#FFF3CD ;
}

.card-list .card-link .card-title{
    font-size: 1.19rem;
    color:black;
    font-weight: 600;
}
.card-list .card-link .card-button{
    height:35px;
    width: 35px;
    color: #5372F0;
    border-radius: 50%;
    margin: 30px 0 5px;
    background: none;
    cursor: pointer;
    border: 2px solid #5372F0;
    transform: rotate(-45deg);
    transition: 0.4 ease;
}
.card-list .card-link:hover .card-button{
    color: #fff;
    background: #5372F0;

}

.card-wrapper .swiper-pagination-bullet{
    height: 13px;
    width: 13px;
    opacity: 0.5;
    background: #5372F0;
}
.card-wrapper .swiper-pagination-bullet-active{
    opacity: 1;
}

.card-wrapper .swiper-slide-button{
    color :  #5372F0;
    margin-top: -35px;
}

@media screen and (max-width: 768px){
    .card-wrapper{
        margin: 0 10px 25px;
    }
    .card-wrapper .swiper-slide-button{
        display: none;
    }
}
#contact {
    background-color:  #081f37;
    text-align: center;
    padding: 10px 0;
}

form {
    max-width: 600px;
    margin: 0 auto;
}

form label {
    display: block;
    margin-top: 1rem;
    font-weight: bold;
}

form input, form textarea {
    width: 100%;
    padding: 0.8rem;
    margin-top: 0.5rem;
    border-radius: 5px;
    border: 1px solid #ddd;
    box-sizing: border-box;
}

form button {
    margin-top: 1.5rem;
    padding: 0.8rem 1.5rem;
    background-color: #4c57d6;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

form button:hover {
    background-color: #9b59b6;
}


footer {
    text-align: center; 
    margin: 30px 0;
    padding: 20px 0; 
    background-color: #2e79ba; 
    position: relative; 
    bottom: 0; 
    width: 100%; 
    font-size: 18px;
    color: yellow;
}

/* Smooth scrolling */
html {
    scroll-behavior: smooth; /* Enables smooth scrolling */
}

