body {
    background-color: #282c34; 
    color: #ffffff; 
    font-family: 'Arial', sans-serif; 
    margin: 0; 
    padding: 0; 
}

nav {
    width: 100%;
    height: 60px; 
    background-color: #61dafb; 
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0; 
}

nav ul li {
    display: inline;
}

nav ul li a {
    color: #282c34; 
    text-decoration: none;
    font-weight: 600;
}

a {
    position: relative;
    cursor: pointer;
    color: #282c34; 
    font-size: 20px;
    padding: 0.5rem 1rem;
    transition: color 0.25s;
}

a::after {
    position: absolute;
    content: "";
    inset: 0;
    background: rgb(237, 245, 9);
    scale: 1 0;
    z-index: -1;
    transition: 0.45s;
    border-radius: 10px;
}

a:hover {
    color: rgb(255, 165, 0); 
}

a:hover::after,
nav ul li .active {
    scale: 1 1;
    color: rgb(0, 0, 0);
}

main {
    text-align: center; 
    padding: 20px; 
}

.profile-container {
    background-color: rgba(255, 255, 255, 0.2); 
    border-radius: 15px; 
    padding: 20px; 
    max-width: 600px; 
    margin: 20px auto; 
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3); 
}

.profile-image {
    width: 150px; 
    height: 150px; 
    border-radius: 50%; 
    object-fit: cover; 
    margin-bottom: 20px; 
}